
html{
    margin: 0;
}
body {
    min-width: calc(240px * 13);
    margin: 0;
    background-color: white;
}
.headerStyle{
    width: 100%;
    height: auto;
    background-color: #515151;
    padding: 20px 50px;
    box-sizing:border-box;
    margin-left: auto;
}

.headerStyle .headerContainer{
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
    /* max-width: calc(240px * 13); */
}

.contentShadow{
    box-shadow: 0 0 10px 5px #51515151;
}

.headerStyle .pageTitle{
    display: block;
    color: white;
    font-size: 3em;
    line-height: 100%;
    font-family: Times;
    margin: auto 50px auto;
    text-shadow: 0px 5px 5px #00000080;
    padding: 0;
}
.iconContainer{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.iconContainer .twitterIcon::before{
    content: '\ea96';
}
.iconContainer .githubIcon::before{
    content: '\eab0';
}
.iconContainer .youtubeIcon::before{
    content: '\ea9d';
}
.iconContainer .nicoIcon::before{
    content: '\e95b';
}
.iconContainer .discordIcon::before{
    content: '\e900';
}

.iconContainer .iconStyle{
    display: block;
    font-family: 'icomoon';
    font-weight: 400;
    font-size: 1.65em;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.iconContainer .iconLink{
    border-radius: 50%;
    background-color:#FFFF8000;
    opacity: 0.6;
    transition: 0.2s;
}
.iconContainer .iconLink:hover{
    background-color:#FFFF8050;
    opacity: 0.7;
}

main{
    min-width: calc(240px * 13);
    min-height: calc(160px * 11);
    background-color: white;
    margin: 30px auto;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: calc(240px * 12.5);
}

h1 {
    position:absolute;
    left: 16px;
    top: 50px;
    display:block;
    color: white;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 2.5m;
    line-height: 100%;
    margin: 0px;
    padding: 10px 30px;
    border-radius: 9999px;
    background-color: #4080C080;
    width: 150px;
}

#canvas{
    padding: 0;
    margin: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    filter:brightness(100%);
    width: calc(240px * 9);
}
a{
    padding:0;
    margin:0;
    text-decoration: none;
}
.imageBox {
    padding: 0;
    margin: 0;
    /* border: solid 3px #515151; */
    width: 240px;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    transition: 0.5s;
    border-radius: 0;
    border: none;
}

.imageBox:hover {
    border: solid 10px #FF8000;
}

.showRoomID{
    box-sizing: border-box;
    font-family: monospace;
    color: white;
    font-size: 1.8em;
    margin: auto 0 0 0;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    text-shadow    : 
    2px  2px 1px #515151,
   -2px  2px 1px #515151,
    2px -2px 1px #515151,
   -2px -2px 1px #515151,
    2px  0px 1px #515151,
    0px  2px 1px #515151,
   -2px  0px 1px #515151,
    0px -2px 1px #515151; 
}

#maps{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    box-sizing:border-box;
    width: calc(12px * 70);
}
.map{
    max-width: calc(12px * 65);
    margin: 0px 30px 30px;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #313131;
}
.mapBlock{
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-width:1px;
    border-color:#dddddd;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.mapBlockContainer{
    width: auto;
    height: auto;
    display: flex;
    border: none;
}

.mapBlockContainer:hover .balloon{
    display: flex;
    opacity: 0.8;
    visibility: visible;
}

.balloon{
    border:none;
    position: absolute;
    padding: 2px;
    background-color: #717171;
    left: 10px;
    top: 10px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.mapBlock:hover{
    background-color: #DDDDCC;
}

.mapUndefined{
    opacity: 0;
    border:none;
}
.mapCurrentRoom {
    background-color: #FF5151;
}
.mapAdefined{
    background-color: #515181;
}
.mapBdefined{
    background-color: #518151;
}

#toBox {
    margin: 0px 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 60px);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    box-sizing: border-box;
}

.toImg{
    display: block;
    width: 120px;
    height: 80px;
    margin: 0;
    opacity: 0.5;
    transition: 0.3s;
    box-sizing: border-box;
}

#toBox .toImg:hover{
    opacity: 1;
    border: solid 5px #FF5151;
}