html{
    height: calc(160px * 10);
}
body {
    width: calc(240px * 13);
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}

h1 {
    font-family: monospace;
    text-align: center;
    font-size: 3em;
    line-height: 160px;
    margin: 0;
}

#canvas{
    padding: 0;
    margin: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    filter:brightness(100%);
    width: calc(240px * 9);
}
a{
    padding:0;
    margin:0;
    text-decoration: none;
}
.imageBox {
    padding: 0;
    margin: 0;
    /* border: solid 3px #515151; */
    width: 240px;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    transition: 0.5s;
    border-radius: 0;
    border: none;
}

.imageBox:hover {
    border: solid 10px #FF8000;
}

.showRoomID{
    box-sizing: border-box;
    font-family: monospace;
    color: white;
    font-size: 1.8em;
    margin: auto 0 0 0;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    text-shadow    : 
    2px  2px 1px #515151,
   -2px  2px 1px #515151,
    2px -2px 1px #515151,
   -2px -2px 1px #515151,
    2px  0px 1px #515151,
    0px  2px 1px #515151,
   -2px  0px 1px #515151,
    0px -2px 1px #515151; 
}

#maps{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    box-sizing:border-box;
    width: calc(12px * 70);
}
.map{
    max-width: calc(12px * 65);
    margin:30px 30px 0px;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.mapBlock{
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-width:1px;
    border-color:#dddddd;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.mapBlockContainer{
    width: auto;
    height: auto;
    display: flex;
    border: none;
}

.mapBlockContainer:hover .balloon{
    display: flex;
    opacity: 0.8;
    visibility: visible;
}

.balloon{
    border:none;
    position: absolute;
    padding: 2px;
    background-color: #717171;
    left: 10px;
    top: 10px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.mapBlock:hover{
    background-color: #DDDDCC;
}

.mapUndefined{
    background-color: #313131;
    border:none;
}
.mapCurrentRoom {
    background-color: #FF5151;
}
.mapAdefined{
    background-color: #515181;
}
.mapBdefined{
    background-color: #518151;
}

#toBox {
    margin: 30px 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 60px);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    box-sizing: border-box;
}

.toImg{
    display: block;
    width: 120px;
    height: 80px;
    margin: 0;
    opacity: 0.5;
    transition: 0.3s;
    box-sizing: border-box;
}

#toBox .toImg:hover{
    opacity: 1;
    border: solid 5px #FF5151;
}